
.nav-item a {
    display: block ;
    width: 110px ;
    padding: 5px 0 ;
    color: #333 ;
    text-decoration: none ;
    margin: 10px ;text-align: center ;
    border-radius: 5px;
}
.nav-item a:hover {
    color: #C15959 ;
}
.navbar-brand {
  margin-right: 38rem;
}
