
.square1 {
  background: #C15959;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 280px;
  bottom: 0;
}

.square2 {
  background: #400000;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 200px;

}
